.vs/
*.vs/
**/.vs/
*.vsidx
.gemini/
**/.gemini/
.vs/TOPSTAR/CopilotIndices/17.14.1091.29919/CodeChunks.db
.vs/TOPSTAR/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
.vs/TOPSTAR/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
.vs/TOPSTAR/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
.vs/TOPSTAR/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
.vs/TOPSTAR/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
.vs/TOPSTAR/FileContentIndex/ab91d185-b000-4049-a9cb-2d67ea575e37.vsidx
.vs/TOPSTAR/v17/.suo
.vs/TOPSTAR/v17/DocumentLayout.backup.json
.vs/TOPSTAR/v17/DocumentLayout.json
TOPSTAR/bin/Debug/app.publish/HongYun SG.exe
TOPSTAR/bin/Debug/app.publish/TopStar.exe
TOPSTAR/bin/Debug/AutoCount.Accounting.DLL
TOPSTAR/bin/Debug/AutoCount.Accounting.UI.DLL
TOPSTAR/bin/Debug/AutoCount.Accounting.UI.xml
TOPSTAR/bin/Debug/AutoCount.Accounting.xml
TOPSTAR/bin/Debug/AutoCount.ARAP.DLL
TOPSTAR/bin/Debug/AutoCount.ARAP.xml
TOPSTAR/bin/Debug/AutoCount.BusinessFlow.dll
TOPSTAR/bin/Debug/AutoCount.DataUpgrade.dll
TOPSTAR/bin/Debug/AutoCount.DataUpgrade.xml
TOPSTAR/bin/Debug/AutoCount.DLL
TOPSTAR/bin/Debug/AutoCount.EInvoice.dll
TOPSTAR/bin/Debug/AutoCount.EInvoice.Singapore.dll
TOPSTAR/bin/Debug/AutoCount.EInvoice.Singapore.xml
TOPSTAR/bin/Debug/AutoCount.EInvoice.xml
TOPSTAR/bin/Debug/AutoCount.FinancialReport.dll
TOPSTAR/bin/Debug/AutoCount.GeneralMaint.dll
TOPSTAR/bin/Debug/AutoCount.GeneralMaint.xml
TOPSTAR/bin/Debug/AutoCount.GL.dll
TOPSTAR/bin/Debug/AutoCount.GL.xml
TOPSTAR/bin/Debug/AutoCount.GST.dll
TOPSTAR/bin/Debug/AutoCount.GST.xml
TOPSTAR/bin/Debug/AutoCount.Image100p.dll
TOPSTAR/bin/Debug/AutoCount.Image125p.dll
TOPSTAR/bin/Debug/AutoCount.Image150p.dll
TOPSTAR/bin/Debug/AutoCount.Image175p.dll
TOPSTAR/bin/Debug/AutoCount.Image200p.dll
TOPSTAR/bin/Debug/AutoCount.Image500p.dll
TOPSTAR/bin/Debug/AutoCount.Images.dll
TOPSTAR/bin/Debug/AutoCount.ImportExport.dll
TOPSTAR/bin/Debug/AutoCount.ImportExport.xml
TOPSTAR/bin/Debug/AutoCount.Inquiry.dll
TOPSTAR/bin/Debug/AutoCount.Invoicing.DLL
TOPSTAR/bin/Debug/AutoCount.Invoicing.xml
TOPSTAR/bin/Debug/AutoCount.MainEntry.DLL
TOPSTAR/bin/Debug/AutoCount.MainEntry.xml
TOPSTAR/bin/Debug/AutoCount.ManageAccountBook.dll
TOPSTAR/bin/Debug/AutoCount.ManageAccountBook.xml
TOPSTAR/bin/Debug/AutoCount.ManagementStudio.dll
TOPSTAR/bin/Debug/AutoCount.ManagementStudio.xml
TOPSTAR/bin/Debug/AutoCount.Manufacturing.dll
TOPSTAR/bin/Debug/AutoCount.Manufacturing.xml
TOPSTAR/bin/Debug/AutoCount.Purchase.dll
TOPSTAR/bin/Debug/AutoCount.Purchase.xml
TOPSTAR/bin/Debug/AutoCount.Sales.dll
TOPSTAR/bin/Debug/AutoCount.Sales.xml
TOPSTAR/bin/Debug/AutoCount.StartScreen.dll
TOPSTAR/bin/Debug/AutoCount.StartScreen.xml
TOPSTAR/bin/Debug/AutoCount.Stock.DLL
TOPSTAR/bin/Debug/AutoCount.Stock.xml
TOPSTAR/bin/Debug/AutoCount.StockMaint.DLL
TOPSTAR/bin/Debug/AutoCount.StockMaint.xml
TOPSTAR/bin/Debug/AutoCount.Tax.Philippines.dll
TOPSTAR/bin/Debug/AutoCount.Tax.Philippines.xml
TOPSTAR/bin/Debug/AutoCount.Tools.DLL
TOPSTAR/bin/Debug/AutoCount.Tools.xml
TOPSTAR/bin/Debug/AutoCount.UI.DLL
TOPSTAR/bin/Debug/AutoCount.UI.xml
TOPSTAR/bin/Debug/AutoCount.xml
TOPSTAR/bin/Debug/BouncyCastle.Cryptography.dll
TOPSTAR/bin/Debug/BouncyCastle.Cryptography.xml
TOPSTAR/bin/Debug/Google.Apis.Auth.dll
TOPSTAR/bin/Debug/Google.Apis.Auth.pdb
TOPSTAR/bin/Debug/Google.Apis.Auth.PlatformServices.dll
TOPSTAR/bin/Debug/Google.Apis.Auth.xml
TOPSTAR/bin/Debug/Google.Apis.Core.dll
TOPSTAR/bin/Debug/Google.Apis.Core.pdb
TOPSTAR/bin/Debug/Google.Apis.Core.xml
TOPSTAR/bin/Debug/Google.Apis.dll
TOPSTAR/bin/Debug/Google.Apis.Drive.v3.dll
TOPSTAR/bin/Debug/Google.Apis.Drive.v3.pdb
TOPSTAR/bin/Debug/Google.Apis.Drive.v3.xml
TOPSTAR/bin/Debug/Google.Apis.pdb
TOPSTAR/bin/Debug/Google.Apis.PlatformServices.dll
TOPSTAR/bin/Debug/Google.Apis.xml
TOPSTAR/bin/Debug/Google.Protobuf.dll
TOPSTAR/bin/Debug/Google.Protobuf.pdb
TOPSTAR/bin/Debug/Google.Protobuf.xml
TOPSTAR/bin/Debug/Grpc.Core.Api.dll
TOPSTAR/bin/Debug/Grpc.Core.Api.pdb
TOPSTAR/bin/Debug/Grpc.Core.Api.xml
TOPSTAR/bin/Debug/Grpc.Net.Client.dll
TOPSTAR/bin/Debug/Grpc.Net.Client.pdb
TOPSTAR/bin/Debug/Grpc.Net.Client.Web.dll
TOPSTAR/bin/Debug/Grpc.Net.Client.Web.pdb
TOPSTAR/bin/Debug/Grpc.Net.Client.Web.xml
TOPSTAR/bin/Debug/Grpc.Net.Client.xml
TOPSTAR/bin/Debug/Grpc.Net.Common.dll
TOPSTAR/bin/Debug/Grpc.Net.Common.pdb
TOPSTAR/bin/Debug/Grpc.Net.Common.xml
TOPSTAR/bin/Debug/GrpcWebSocketBridge.Client.dll
TOPSTAR/bin/Debug/K4os.Compression.LZ4.dll
TOPSTAR/bin/Debug/K4os.Compression.LZ4.Streams.dll
TOPSTAR/bin/Debug/K4os.Compression.LZ4.Streams.xml
TOPSTAR/bin/Debug/K4os.Compression.LZ4.xml
TOPSTAR/bin/Debug/K4os.Hash.xxHash.dll
TOPSTAR/bin/Debug/K4os.Hash.xxHash.xml
TOPSTAR/bin/Debug/Microsoft.AspNetCore.Connections.Abstractions.dll
TOPSTAR/bin/Debug/Microsoft.AspNetCore.Connections.Abstractions.xml
TOPSTAR/bin/Debug/Microsoft.AspNetCore.Http.Connections.Client.dll
TOPSTAR/bin/Debug/Microsoft.AspNetCore.Http.Connections.Client.xml
TOPSTAR/bin/Debug/Microsoft.AspNetCore.Http.Connections.Common.dll
TOPSTAR/bin/Debug/Microsoft.AspNetCore.Http.Connections.Common.xml
TOPSTAR/bin/Debug/Microsoft.AspNetCore.Http.Features.dll
TOPSTAR/bin/Debug/Microsoft.AspNetCore.Http.Features.xml
TOPSTAR/bin/Debug/Microsoft.AspNetCore.SignalR.Client.Core.dll
TOPSTAR/bin/Debug/Microsoft.AspNetCore.SignalR.Client.Core.xml
TOPSTAR/bin/Debug/Microsoft.AspNetCore.SignalR.Client.dll
TOPSTAR/bin/Debug/Microsoft.AspNetCore.SignalR.Client.xml
TOPSTAR/bin/Debug/Microsoft.AspNetCore.SignalR.Common.dll
TOPSTAR/bin/Debug/Microsoft.AspNetCore.SignalR.Common.xml
TOPSTAR/bin/Debug/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
TOPSTAR/bin/Debug/Microsoft.AspNetCore.SignalR.Protocols.Json.xml
TOPSTAR/bin/Debug/MySql.Data.dll
TOPSTAR/bin/Debug/MySql.Data.xml
TOPSTAR/bin/Debug/System.Configuration.ConfigurationManager.dll
TOPSTAR/bin/Debug/System.Configuration.ConfigurationManager.xml
TOPSTAR/bin/Debug/System.Diagnostics.DiagnosticSource.dll
TOPSTAR/bin/Debug/System.Diagnostics.DiagnosticSource.xml
TOPSTAR/bin/Debug/System.IO.Pipelines.dll
TOPSTAR/bin/Debug/System.IO.Pipelines.xml
TOPSTAR/bin/Debug/System.Net.Http.WinHttpHandler.dll
TOPSTAR/bin/Debug/System.Net.Http.WinHttpHandler.xml
TOPSTAR/bin/Debug/System.Text.Encodings.Web.dll
TOPSTAR/bin/Debug/System.Text.Encodings.Web.xml
TOPSTAR/bin/Debug/System.Text.Json.dll
TOPSTAR/bin/Debug/System.Text.Json.xml
TOPSTAR/bin/Debug/System.Threading.Channels.dll
TOPSTAR/bin/Debug/System.Threading.Channels.xml
TOPSTAR/bin/Debug/System.ValueTuple.dll
TOPSTAR/bin/Debug/System.ValueTuple.xml
TOPSTAR/bin/Debug/TopStar.application
TOPSTAR/bin/Debug/TopStar.exe
TOPSTAR/bin/Debug/TopStar.exe.config
TOPSTAR/bin/Debug/TopStar.exe.manifest
TOPSTAR/bin/Debug/TopStar.pdb
TOPSTAR/bin/Debug/ZstdSharp.dll
TOPSTAR/bin/Debug/zxing.dll
TOPSTAR/bin/Debug/zxing.presentation.dll
TOPSTAR/bin/Debug/zxing.presentation.xml
TOPSTAR/bin/Debug/zxing.xml
TOPSTAR/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TOPSTAR/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
TOPSTAR/obj/Debug/TopStar.application
TOPSTAR/obj/Debug/TOPSTAR.csproj.AssemblyReference.cache
TOPSTAR/obj/Debug/TOPSTAR.csproj.CoreCompileInputs.cache
TOPSTAR/obj/Debug/TOPSTAR.csproj.FileListAbsolute.txt
TOPSTAR/obj/Debug/TOPSTAR.csproj.GenerateResource.cache
TOPSTAR/obj/Debug/TOPSTAR.csproj.Up2Date
TOPSTAR/obj/Debug/TopStar.exe
TOPSTAR/obj/Debug/TopStar.exe.manifest
TOPSTAR/obj/Debug/TOPSTAR.FormMain.resources
TOPSTAR/obj/Debug/TopStar.pdb
TOPSTAR/obj/Debug/TopStar.Properties.Resources.resources
TOPSTAR/obj/Debug/TopStar.TrustInfo.xml
.vs/TOPSTAR/FileContentIndex/fe558f5c-e26a-4886-9f58-7477000c031c.vsidx
TOPSTAR/bin/Debug/app.publish/HongYun SG.exe
TOPSTAR/bin/Debug/AutoCount.Accounting.DLL
TOPSTAR/bin/Debug/AutoCount.Accounting.UI.DLL
TOPSTAR/bin/Debug/AutoCount.Accounting.UI.xml
TOPSTAR/bin/Debug/AutoCount.Accounting.xml
TOPSTAR/bin/Debug/AutoCount.ARAP.DLL
TOPSTAR/bin/Debug/AutoCount.ARAP.xml
TOPSTAR/bin/Debug/AutoCount.BusinessFlow.dll
TOPSTAR/bin/Debug/AutoCount.DataUpgrade.dll
TOPSTAR/bin/Debug/AutoCount.DataUpgrade.xml
TOPSTAR/bin/Debug/AutoCount.DLL
TOPSTAR/bin/Debug/AutoCount.FinancialReport.dll
TOPSTAR/bin/Debug/AutoCount.GeneralMaint.dll
TOPSTAR/bin/Debug/AutoCount.GeneralMaint.xml
TOPSTAR/bin/Debug/AutoCount.GL.dll
TOPSTAR/bin/Debug/AutoCount.GL.xml
TOPSTAR/bin/Debug/AutoCount.GST.dll
TOPSTAR/bin/Debug/AutoCount.GST.xml
TOPSTAR/bin/Debug/AutoCount.Image100p.dll
TOPSTAR/bin/Debug/AutoCount.Image125p.dll
TOPSTAR/bin/Debug/AutoCount.Image150p.dll
TOPSTAR/bin/Debug/AutoCount.Image175p.dll
TOPSTAR/bin/Debug/AutoCount.Image200p.dll
TOPSTAR/bin/Debug/AutoCount.Image500p.dll
TOPSTAR/bin/Debug/AutoCount.Images.dll
TOPSTAR/bin/Debug/AutoCount.ImportExport.dll
TOPSTAR/bin/Debug/AutoCount.ImportExport.xml
TOPSTAR/bin/Debug/AutoCount.Inquiry.dll
TOPSTAR/bin/Debug/AutoCount.Invoicing.DLL
TOPSTAR/bin/Debug/AutoCount.Invoicing.xml
TOPSTAR/bin/Debug/AutoCount.MainEntry.DLL
TOPSTAR/bin/Debug/AutoCount.MainEntry.xml
TOPSTAR/bin/Debug/AutoCount.ManageAccountBook.dll
TOPSTAR/bin/Debug/AutoCount.ManageAccountBook.xml
TOPSTAR/bin/Debug/AutoCount.ManagementStudio.dll
TOPSTAR/bin/Debug/AutoCount.ManagementStudio.xml
TOPSTAR/bin/Debug/AutoCount.Manufacturing.dll
TOPSTAR/bin/Debug/AutoCount.Manufacturing.xml
TOPSTAR/bin/Debug/AutoCount.Purchase.dll
TOPSTAR/bin/Debug/AutoCount.Purchase.xml
TOPSTAR/bin/Debug/AutoCount.Sales.dll
TOPSTAR/bin/Debug/AutoCount.Sales.xml
TOPSTAR/bin/Debug/AutoCount.StartScreen.dll
TOPSTAR/bin/Debug/AutoCount.StartScreen.xml
TOPSTAR/bin/Debug/AutoCount.Stock.DLL
TOPSTAR/bin/Debug/AutoCount.Stock.xml
TOPSTAR/bin/Debug/AutoCount.StockMaint.DLL
TOPSTAR/bin/Debug/AutoCount.StockMaint.xml
TOPSTAR/bin/Debug/AutoCount.Tools.DLL
TOPSTAR/bin/Debug/AutoCount.Tools.xml
TOPSTAR/bin/Debug/AutoCount.UI.DLL
TOPSTAR/bin/Debug/AutoCount.UI.xml
TOPSTAR/bin/Debug/AutoCount.xml
TOPSTAR/bin/Debug/System.Diagnostics.DiagnosticSource.dll
TOPSTAR/bin/Debug/System.Diagnostics.DiagnosticSource.xml
TOPSTAR/obj/Debug/TOPSTAR.csproj.AssemblyReference.cache
TOPSTAR/obj/Debug/TopStar.exe.config
TOPSTAR/bin/Debug/app.publish/HongYun SG.exe
TOPSTAR/bin/Debug/AutoCount.Accounting.DLL
TOPSTAR/bin/Debug/AutoCount.Accounting.UI.DLL
TOPSTAR/bin/Debug/AutoCount.Accounting.UI.xml
TOPSTAR/bin/Debug/AutoCount.Accounting.xml
TOPSTAR/bin/Debug/AutoCount.ARAP.DLL
TOPSTAR/bin/Debug/AutoCount.ARAP.xml
TOPSTAR/bin/Debug/AutoCount.BusinessFlow.dll
TOPSTAR/bin/Debug/AutoCount.DataUpgrade.dll
TOPSTAR/bin/Debug/AutoCount.DataUpgrade.xml
TOPSTAR/bin/Debug/AutoCount.DLL
TOPSTAR/bin/Debug/AutoCount.FinancialReport.dll
TOPSTAR/bin/Debug/AutoCount.GeneralMaint.dll
TOPSTAR/bin/Debug/AutoCount.GeneralMaint.xml
TOPSTAR/bin/Debug/AutoCount.GL.dll
TOPSTAR/bin/Debug/AutoCount.GL.xml
TOPSTAR/bin/Debug/AutoCount.GST.dll
TOPSTAR/bin/Debug/AutoCount.GST.xml
TOPSTAR/bin/Debug/AutoCount.Image100p.dll
TOPSTAR/bin/Debug/AutoCount.Image125p.dll
TOPSTAR/bin/Debug/AutoCount.Image150p.dll
TOPSTAR/bin/Debug/AutoCount.Image175p.dll
TOPSTAR/bin/Debug/AutoCount.Image200p.dll
TOPSTAR/bin/Debug/AutoCount.Image500p.dll
TOPSTAR/bin/Debug/AutoCount.Images.dll
TOPSTAR/bin/Debug/AutoCount.ImportExport.dll
TOPSTAR/bin/Debug/AutoCount.ImportExport.xml
TOPSTAR/bin/Debug/AutoCount.Inquiry.dll
TOPSTAR/bin/Debug/AutoCount.Invoicing.DLL
TOPSTAR/bin/Debug/AutoCount.Invoicing.xml
TOPSTAR/bin/Debug/AutoCount.MainEntry.DLL
TOPSTAR/bin/Debug/AutoCount.MainEntry.xml
TOPSTAR/bin/Debug/AutoCount.ManageAccountBook.dll
TOPSTAR/bin/Debug/AutoCount.ManageAccountBook.xml
TOPSTAR/bin/Debug/AutoCount.ManagementStudio.dll
TOPSTAR/bin/Debug/AutoCount.ManagementStudio.xml
TOPSTAR/bin/Debug/AutoCount.Manufacturing.dll
TOPSTAR/bin/Debug/AutoCount.Manufacturing.xml
TOPSTAR/bin/Debug/AutoCount.Purchase.dll
TOPSTAR/bin/Debug/AutoCount.Purchase.xml
TOPSTAR/bin/Debug/AutoCount.Sales.dll
TOPSTAR/bin/Debug/AutoCount.Sales.xml
TOPSTAR/bin/Debug/AutoCount.StartScreen.dll
TOPSTAR/bin/Debug/AutoCount.StartScreen.xml
TOPSTAR/bin/Debug/AutoCount.Stock.DLL
TOPSTAR/bin/Debug/AutoCount.Stock.xml
TOPSTAR/bin/Debug/AutoCount.StockMaint.DLL
TOPSTAR/bin/Debug/AutoCount.StockMaint.xml
TOPSTAR/bin/Debug/AutoCount.Tools.DLL
TOPSTAR/bin/Debug/AutoCount.Tools.xml
TOPSTAR/bin/Debug/AutoCount.UI.DLL
TOPSTAR/bin/Debug/AutoCount.UI.xml
TOPSTAR/bin/Debug/AutoCount.xml
TOPSTAR/bin/Debug/System.Diagnostics.DiagnosticSource.dll
TOPSTAR/bin/Debug/System.Diagnostics.DiagnosticSource.xml
.vs/TOPSTAR/FileContentIndex/92eb9c39-58fb-4427-a38d-1d830880ed07.vsidx
.vs/TOPSTAR/FileContentIndex/25648152-853a-471d-9e33-03cc8ffa09a9.vsidx
TOPSTAR/bin/Debug/app.publish/HongYun SG.exe
TOPSTAR/bin/Debug/AutoCount.Accounting.DLL
TOPSTAR/bin/Debug/AutoCount.Accounting.UI.DLL
TOPSTAR/bin/Debug/AutoCount.Accounting.UI.xml
TOPSTAR/bin/Debug/AutoCount.Accounting.xml
TOPSTAR/bin/Debug/AutoCount.ARAP.DLL
TOPSTAR/bin/Debug/AutoCount.ARAP.xml
TOPSTAR/bin/Debug/AutoCount.BusinessFlow.dll
TOPSTAR/bin/Debug/AutoCount.DataUpgrade.dll
TOPSTAR/bin/Debug/AutoCount.DataUpgrade.xml
TOPSTAR/bin/Debug/AutoCount.DLL
TOPSTAR/bin/Debug/AutoCount.FinancialReport.dll
TOPSTAR/bin/Debug/AutoCount.GeneralMaint.dll
TOPSTAR/bin/Debug/AutoCount.GeneralMaint.xml
TOPSTAR/bin/Debug/AutoCount.GL.dll
TOPSTAR/bin/Debug/AutoCount.GL.xml
TOPSTAR/bin/Debug/AutoCount.GST.dll
TOPSTAR/bin/Debug/AutoCount.GST.xml
TOPSTAR/bin/Debug/AutoCount.Image100p.dll
TOPSTAR/bin/Debug/AutoCount.Image125p.dll
TOPSTAR/bin/Debug/AutoCount.Image150p.dll
TOPSTAR/bin/Debug/AutoCount.Image175p.dll
TOPSTAR/bin/Debug/AutoCount.Image200p.dll
TOPSTAR/bin/Debug/AutoCount.Image500p.dll
TOPSTAR/bin/Debug/AutoCount.Images.dll
TOPSTAR/bin/Debug/AutoCount.ImportExport.dll
TOPSTAR/bin/Debug/AutoCount.ImportExport.xml
TOPSTAR/bin/Debug/AutoCount.Inquiry.dll
TOPSTAR/bin/Debug/AutoCount.Invoicing.DLL
TOPSTAR/bin/Debug/AutoCount.Invoicing.xml
TOPSTAR/bin/Debug/AutoCount.MainEntry.DLL
TOPSTAR/bin/Debug/AutoCount.MainEntry.xml
TOPSTAR/bin/Debug/AutoCount.ManageAccountBook.dll
TOPSTAR/bin/Debug/AutoCount.ManageAccountBook.xml
TOPSTAR/bin/Debug/AutoCount.ManagementStudio.dll
TOPSTAR/bin/Debug/AutoCount.ManagementStudio.xml
TOPSTAR/bin/Debug/AutoCount.Manufacturing.dll
TOPSTAR/bin/Debug/AutoCount.Manufacturing.xml
TOPSTAR/bin/Debug/AutoCount.Purchase.dll
TOPSTAR/bin/Debug/AutoCount.Purchase.xml
TOPSTAR/bin/Debug/AutoCount.Sales.dll
TOPSTAR/bin/Debug/AutoCount.Sales.xml
TOPSTAR/bin/Debug/AutoCount.StartScreen.dll
TOPSTAR/bin/Debug/AutoCount.StartScreen.xml
TOPSTAR/bin/Debug/AutoCount.Stock.DLL
TOPSTAR/bin/Debug/AutoCount.Stock.xml
TOPSTAR/bin/Debug/AutoCount.StockMaint.DLL
TOPSTAR/bin/Debug/AutoCount.StockMaint.xml
TOPSTAR/bin/Debug/AutoCount.Tools.DLL
TOPSTAR/bin/Debug/AutoCount.Tools.xml
TOPSTAR/bin/Debug/AutoCount.UI.DLL
TOPSTAR/bin/Debug/AutoCount.UI.xml
TOPSTAR/bin/Debug/AutoCount.xml
TOPSTAR/bin/Debug/System.Diagnostics.DiagnosticSource.dll
TOPSTAR/bin/Debug/System.Diagnostics.DiagnosticSource.xml
TOPSTAR/obj/Debug/TOPSTAR.csproj.AssemblyReference.cache
.vs/TOPSTAR/FileContentIndex/8c105105-138a-4200-ad82-6202b97d17f2.vsidx
.vs/TOPSTAR/FileContentIndex/0278e96f-f876-4537-b7a4-22988eb1c1c9.vsidx
.vs/TOPSTAR/FileContentIndex/c0fe2c29-04f6-46e0-ac39-082d65be287f.vsidx
.vs/TOPSTAR/FileContentIndex/f55d98e6-fbe2-4cfc-a77b-31b4db37668c.vsidx
.vs/TOPSTAR/FileContentIndex/86db893c-238a-410d-a2f7-ab0e76bdd771.vsidx
.vs/TOPSTAR/FileContentIndex/da628e66-dfea-4be5-bcad-18639f99f229.vsidx

# Packaged build output folders
DebtorSynchronization_V2_*
DebtorBalanceSynchronization_*
ProductSynchronization_*
ProductPriceSynchronization_*
FixPrice_*
ScalePriceSync_*
Area_Branch_PriceCategory_Company_*
ProcessSelfSyncQueue_*
SalesAgent_*
AddSalesOrderOther_*
Statements_*
Release/
